body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../pokemons/backsss.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #2331cb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

img {
    margin-bottom: 20px;
    animation: moveAnimation 3s ease infinite;
    /* Add animation to the image */
}

@keyframes moveAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: none;
    text-align: center;
    background-color: rgb(110, 138, 228);
    color: rgb(231, 242, 242);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: rgb(39, 14, 139);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(27, 9, 102);
}

a {
    text-decoration: none;
    color: #2331cb;
}

a:hover {
    color: #1b0966;
}