body {
    background-image: url(../pokemons/firebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    display: flex;
    flex-direction: column; /* Ensure a vertical layout */
    justify-content: space-evenly; /* Add space around content */
    align-items: center;
    height: 100vh;
    font-size: large;
}

.container {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text within the container */
}

.pokemon-image {
    padding-right: 40%;
    top: 70px;
    max-width: 200px;
    max-height: 200px;
    padding-left: 45px;
    display: block; /* Ensure it takes up the full width */
    margin: auto; /* Center the image horizontally */
    animation: flyPokemon 3s ease infinite;
}

th, td {
    border: none;
    padding: 25px; /* Increased the padding for better spacing */
}


@keyframes flyPokemon {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); } /* Adjusted the distance to move */
    100% { transform: translateY(0); }
}

#letsGoButton {
    background-color: #ef7e06;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#letsGoButton:hover {
    background-color: #7e1004;
}

